<a href="https://colab.research.google.com/github/samegavi/inline-sql/blob/main/inlinesqlinaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Have a SQL Analyst Interview Coming Up? Ace It Using Google Colab!**
Setup & Run SQL in Google Colab with **[inline-sql](https://github.com/ekzhang/inline-sql)**!

This colab is a lightweight alternative to Marie Stephen Leo's [colab](https://colab.research.google.com/github/stephenleo/medium-python-hacks/blob/main/02_sql_on_colab/main.ipynb#scrollTo=dFZ8LpkGGxBP) based on his medium [article](https://towardsdatascience.com/have-a-sql-interview-coming-up-ace-it-using-google-colab-6d3c0ffb29dc) 

Without the need for sqlite3 or helper functions you can quickly dive in to Covid data analysis with SQL

In [ ]:
pip install inline_sql

In [3]:
from inline_sql import sql, sql_val

Download Kaggle's Covid dataset here https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress

Upload **country_vaccinations.csv** dataset to Colab using the below cell

In [ ]:
from google.colab import files
uploaded = files.upload()

In [7]:
country_vaccinations = sql^ "SELECT * FROM 'country_vaccinations.csv'"

In [8]:
sql^ "SELECT country, SUM(daily_vaccinations) as total_vaccinate FROM country_vaccinations WHERE daily_vaccinations IS NOT NULL  GROUP BY country ORDER BY 2 DESC"

              country  total_vaccinate
0               China     3.250342e+09
1               India     1.829085e+09
2       United States     5.601116e+08
3              Brazil     4.113785e+08
4           Indonesia     3.732136e+08
..                ...              ...
218  Falkland Islands     4.933000e+03
219              Niue     4.324000e+03
220        Montserrat     4.320000e+03
221           Tokelau     1.966000e+03
222          Pitcairn     4.300000e+01

[223 rows x 2 columns]